In [ ]:
!pip install yfinance

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
sp_wiki = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
sp_wiki_df = pd.read_html(sp_wiki)

In [ ]:
sp_tickers = list(sp_wiki_df[0]['Symbol'].values) #grab the first table & grab the symbol values and force it into a list

In [ ]:
data = yf.download(sp_tickers, start="2012-12-31", end="2023-01-01", interval ="1d")

In [ ]:
stock_prices = data['Adj Close']
# data['Volume'].tail()

In [124]:
stock_prices.loc['2021-1-11 00:00:00']['BKNG']

2221.27001953125

In [ ]:
def highest_prices(years):
  #first we determine the yearly range asked for
  if years not in range(1,11):
    return "ERROR: Enter a valid number between 1 to 10"
  
  start_year = str(2023 - years)
  
  stock_prices_in_range = stock_prices.loc[start_year + '-1-1 00:00:00' : '2023-1-1 00:00:00']
  maximum_stock_prices = stock_prices_in_range.max()
  top_10_tickers = maximum_stock_prices.nlargest(10)

  return top_10_tickers

In [125]:
highest_prices(5)
# d = pd.DataFrame(highest_prices(1))
# d
# df2=d['0'].idxmax()
# df2

NVR     5959.330078
BKNG    2703.260010
AZO     2579.000000
CMG     1944.050049
MTD     1702.530029
BLK      940.249084
ORLY     864.539978
EQIX     863.679749
BIO      825.770020
CHTR     821.010010
dtype: float64

In [ ]:
stock_prices.loc[str(2023 - 1)+ '-1-1 00:00:00' : '2023-1-1 00:00:00'].head(5)

In [ ]:
x = 1
if 10 in range(1,11):
  print(x)